{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": ["> 5% in CN", "last 2 versions", "not dead", "not ie <= 9"]
      },
      "useBuiltIns": "usage"
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    ["import", { "libraryName": "antd", "libraryDirectory": "lib", "style": "css" }],
    "@babel/plugin-proposal-class-properties",
    "react-hot-loader/babel"
  ]
}
